@import '../../../../styles/mixins/global.scss';

.whyUsSection {
    padding: map-get($pixel, md ) * 14 0;
    @include breakpoint("max-sm") {
        padding: map-get($pixel, md ) * 8 0;
    }
    .whyUs {
        max-width: 1090px;
        @include breakpoint("max-sm") {
            max-width: 100%;
        }
        .card:last-child {
            border: none;
            padding-bottom: 0px;
        }
        .card:first-child {
            border-top: 1px solid var(--border-color);
        }
        .card {
            padding: map-get($pixel, md ) * 6 0 map-get($pixel, md ) * 14 0;
            border-bottom: 1px solid var(--border-color);
            @include breakpoint("max-sm") {
                padding: map-get($pixel, md ) * 4 0;
            }
            .grid {
                @include grid;
                grid-template-columns: repeat(2 , 1fr);
                gap: 0 map-get($pixel, md ) * 2;
                @include breakpoint("max-sm") {
                    grid-template-columns: repeat(1 , 1fr);
                    gap: map-get($pixel, md ) * 4;
                }
                .gridItems {
                    p {
                        @include text-md;
                        color: var(--colors-text);
                        @include breakpoint("max-sm") {
                            font-size: 12px;
                            line-height: 18px;
                        }
                    }
                    .iconTextAlignment {
                        @include flex-center;
                        div:first-child {
                            padding-right: map-get($pixel,md ) *4 ;
                            @include breakpoint("max-sm") {
                            padding-right: map-get($pixel,md ) * 3 ;
                            }
                        }
                        div {
                            span {
                                @include heading-4;
                                color: var(--colors-light-300);
                                margin: 0;
                                @include breakpoint("max-sm") {
                                    @include text-sm;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .textStyle {
        max-width: 868px;
        padding: 0 0 map-get($pixel, md ) * 10 0;
        @include breakpoint("max-sm") {
            padding: 0 0 map-get($pixel, md ) * 4 + 6px 0;
            max-width: 100%;
        }
        > span {
            @include text-sm-medium;
            color: var(--colors-text);
            display: block;
            @include text-capitalize;
            padding: 0 0 map-get($pixel, sm ) * 5 0;
        }
        h1 {
            @include heading-1;
            color: var(--colors-secondary-light);
            @include breakpoint("max-md") {
                @include heading-2;
            }
            @include breakpoint("max-sm") {
                @include heading-6;
            }
            a {
               color: var(--colors-text); 
            }
        }
    }
}

.allProjectImageShow {
        width: 100%;
        background-attachment: fixed;
        height: 982px;
        background-image: url("../../../../public/assets/images/prjoect-image.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        @include breakpoint("max-sm") {
            height: 320px;
        }
}