@import '../../../../styles/mixins/global.scss';


.ProjectDetailsAlign {
    padding: map-get($pixel, md ) * 9 0 map-get($pixel, md ) * 12 + 5px 0;
    @include breakpoint("max-sm") {
        display: none;
    }
    .imageFlex {
        @include flex-between;
        @include breakpoint("max-md") {
            @include grid;
            grid-template-columns: repeat(3 , 1fr);
            gap: 40px;
        }
        img {
            @include pointer;
        }
    }
}