@import '../../../styles/mixins/global.scss';

.footer {
    padding: map-get($pixel, md ) * 8 0 map-get($pixel, md ) * 10 0;
    @include breakpoint("max-sm") {
        padding: map-get($pixel, md ) * 8 0;
    }
    .copyRight {
        @include flex-between;
        @include breakpoint("max-sm") {
            display: block;
        }
        div > img {
            @include pointer;
        }
        div > ul {
            @include flex-center;
            @include breakpoint("max-sm") {
                margin: 40px 0 0 0;
            }
            li:last-child {
                margin: 0;
                
            }
            li {
                @include text;
                color: var(--colors-gray-200);
                @include pointer;
                margin-right: map-get($pixel, md ) * 6;
            }
        }
    }
    .grid {
        @include grid;
        grid-template-columns: 731px minmax(0 , 1fr);
        gap: 0 map-get($pixel, md ) * 20;
        padding: 0 0 map-get($pixel, md ) * 6 0;
        @include breakpoint("max-md") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 40px;

        }
        .gridItems {
            h2 {
                @include heading-2;
                color: var(--colors-text);
                @include breakpoint("max-sm") {
                    @include text-md;
                }
                span {
                    color: var(--colors-secondary-light);
                }
            }
            .menuGrid {
                @include grid;
                grid-template-columns: repeat(2 , 1fr);
                gap: 0 map-get($pixel, md ) * 2;
                .menuGridItems {
                    p {
                        @include text-md;
                        color: var(--colors-light-300);
                        margin: 0 0 32px 0;
                        @include breakpoint("max-sm") {
                            @include text;
                        }
                    }
                    ul {
                        li:last-child {
                            padding: 0;
                        }
                        li {
                            @include text;
                            color: var(--colors-gray-200);
                            padding: 0 0 map-get($pixel, md ) + 6px 0;
                            @include pointer;
                            @include breakpoint("max-sm") {
                                @include text-sm;
                            }
                        }
                    }
                }
            }
        }
    }
} 