@import '../../../../styles/mixins/global.scss';


.ourWorkAlign {
    padding: 223px 0 144px 0;
    border-bottom: 1px solid var(--border-color);
    @include breakpoint("max-sm") {
        padding: 160px 0;
    }
    .grid {
        @include grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 0 map-get($pixel, md ) * 10;
        @include breakpoint("max-md") {
            gap: map-get($pixel, md ) * 4 ;
        }
        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 40px;
        }
        .gridItems:nth-child(2n + 2) {
            margin: 100px 0 0 0;
            @include breakpoint("max-md") {
                margin: map-get($pixel, md ) * 4 0 0 0;
            }
            @include breakpoint("max-sm"){
                margin: 0;
            }
        }
        .gridItems {
            .cardImage {
                img {
                    width: 100%;
                    height: 550px;
                    object-fit: cover;
                    @include breakpoint("max-md") {
                        height: 260px;
                    }
                    @include breakpoint("max-sm") {
                        height: 300px;
                    }
                }
            }
            .cardDetails {
                padding: map-get($pixel, sm ) * 4 0 0 0;
                h3 {
                    @include heading-4;
                    color: var(--colors-secondary-light);
                    margin: 0 0 map-get($pixel, sm ) * 3 + 1px 0;
                    @include breakpoint("max-md") {
                        @include heading-5;
                    }
                    @include breakpoint("max-sm") {
                        @include text-md;
                        margin: 0 0 map-get($pixel, md ) - 2px 0;
                    }
                }
                p {
                    @include heading-5;
                    color: var(--colors-gray-600);
                    margin: 0;
                    @include breakpoint("max-md") {
                        @include text;
                    }
                    @include breakpoint("max-sm") {
                        font-size: 12px;
                        letter-spacing: -0.02em;
                        line-height: 15px;
                    }
                }
            }
        }
    }
    .textGrid {
        @include grid;
        padding: 0 0 map-get($pixel, md ) * 5 0;
        grid-template-columns: repeat(2 , 1fr);
        gap: 0 map-get($pixel, md) * 10;
        justify-content: space-between;
        @include breakpoint("max-md") {
            gap: map-get($pixel, md ) * 4;
        }
        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 0;
            padding: 0 0 map-get($pixel, md ) * 3 + 2px 0;
        }
         .textGridItems {
            
          span {
              @include text-sm-medium;
              color: var(--colors-text);
              display: block;
              padding: 0 0 map-get($pixel, md ) * 2 + 4px 0;
              @include text-capitalize;
              @include breakpoint("max-sm") {
                  padding: 0;
              }
          }  
          p {
              @include text-md;
              margin: 0 0 map-get($pixel, md ) * 5 + 2px 0;
              color: var(--colors-text);
              max-width: 220px;
              @include breakpoint("max-sm") {
                  display: none;
              }
          }
          .seeAll {
             color: var(--colors-white); 
             @include flex-center;
             @include pointer;
             @include breakpoint("max-sm") {
                 display: none;
             }
             a {
                 @include text-sm;
                 display: block;
                 padding-right: map-get($pixel, sm ) * 2;
                 font-size: 15px;
             }
          }
          h1 {
              @include heading-1;
              margin: 0;
              color: var(--colors-secondary-light);
              @include breakpoint("max-md") {
                  @include heading-2;
              }
              @include breakpoint("max-sm") {
                  display: none;
              }
          }
        } 
    }
}

.mobileViewButton {
    padding: map-get($pixel, md ) * 8 0 0 0;
    @include flex-center;
    justify-content: map-get($layout, center );
    button {
        padding: 12px 34px;
        background: var(--colors-gradient);
        color: var(--colors-white);
        border: none;
        @include flex-center;
        justify-content: map-get($layout, center);
        border-radius: 999px;
        span {
            padding-right: 10px;
            @include text;
            font-size: 15px;
        }
    }
}

.workButtonHidden {
    display: none;
    @include breakpoint("max-sm") {
        display: block;
    }
}