@use '../mixins/breakpoint.scss';

@mixin heading-1 {
    font-size: 60px;
    line-height: 66px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin heading-2 {
    font-size: 40px;
    line-height: 52px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin heading-3 {
    font-size: 24px;
    line-height: 31px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin heading-4 {
    font-size: 30px;
    line-height: 36px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin heading-5 {
    font-size: 20px;
    line-height: 26px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin heading-6 {
    font-size: 25px;
    line-height: 32px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin text-md {
    font-size: 18px;
    line-height: 27px;
    @include font-normal;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin text-md-medium {
    font-size: 18px;
    line-height: 27px;
    @include font-medium;
    letter-spacing: -0.02em;
    font-family: var(--default-font-family);
}

@mixin text-sm-medium {
    font-size: 14px;
    line-height: 18px;
    @include font-medium;
    letter-spacing: 0.2em;
    font-family: var(--default-font-family);
}

@mixin text-sm {
    font-size: 14px;
    line-height: 21px;
    @include font-normal;
    font-family: var(--default-font-family);
}

@mixin text {
    font-size: 16px;
    line-height: 23px;
    @include font-normal;
    font-family: var(--default-font-family);
}