@import '../../../../styles/mixins/global.scss';

.heroBanner {
    @include relative;
    padding: map-get($pixel, md ) * 7 0 map-get($pixel, md ) * 10 0;
    @include breakpoint("max-sm") {
        padding: map-get($pixel, md ) * 11 + 6px 0;
    }
    .heroText {
        max-width: 836px;
        @include breakpoint("max-md") {
            max-width: 100%;
        }
        > h1 {
            @include heading-1;
            color: var(--colors-light-300);
            margin: 0 0 map-get($pixel, md ) * 4 0;
            @include breakpoint("max-sm") {
                @include heading-2;
                margin: 0 0 map-get($pixel, md ) * 3 + 2px 0;
            }
            span {
                color: var(--colors-light);
            }
        }
        > p {
            max-width: 535px;
            color: var(--colors-gray);
            @include text-md;
            @include breakpoint("max-sm") {
                @include text-sm;
                max-width: 100%;
            }
        }
    }
}   