@import '../../../../styles/mixins/global.scss';

.specializingSection {
    @include relative;
 
    .grid {
        @include grid;
        grid-template-columns: 125px minmax(0 , 1fr);
        gap: 0 map-get($pixel, md ) * 20;
        justify-content: space-between;
        @include breakpoint("max-md") {
            gap: 0 map-get($pixel, md ) * 10;
        }
        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 0;
        }
        .gridItems {
            h2 {
                max-width: 646px;
                @include heading-2;
                margin: 0 0 map-get($pixel, md ) * 6 0;
                color: var(--colors-light-300);
                @include breakpoint("max-sm") {
                    max-width: 100%;
                    @include heading-6;
                    margin: 0 0 map-get($pixel, md ) * 4 0;
                    padding-right: 10px;
                }
                 span {
                    color: var(--colors-secondary-light);
                }
            }
            p:last-child {
                margin: 0;
            }
            p {
                @include text-md;
                color: var(--colors-text);
                margin: 0 0 map-get($pixel, md ) * 2 0;
                max-width: 646px;
                @include breakpoint("max-sm") {
                    max-width: 100%;
                    @include text-sm;
                }
            }
        }
    }
}

.CapabilitiesAlignment {
    padding:  0 0 map-get($pixel, md ) * 14 0;
    @include breakpoint("max-sm") {
        padding: map-get($pixel, md ) * 11 0 map-get($pixel, md ) * 13 0;
    }
    .grid {
        @include grid;
        grid-template-columns: 125px minmax(0 , 1fr);
        gap: 0 map-get($pixel, md ) * 20;
        justify-content: space-between;
        @include breakpoint("max-md") {
            grid-template-columns: repeat(1 , 1fr);
            gap: map-get($pixel, md ) * 6;
        }
        @include breakpoint("max-sm") {
            gap: map-get($pixel, md ) * 3 + 2px;
        }
        .gridItems {
            .subGrid {
                @include grid;
                grid-template-columns: repeat(3 , 1fr);
                gap: map-get($pixel, md ) * 4;
                @include breakpoint("max-sm") {
                    grid-template-columns: repeat(1 , 1fr);
                    gap: map-get($pixel, md ) * 2;
                }
                .subGridItems {
                    background-color: var(--colors-primary-200);
                    padding: map-get($pixel, md ) * 4;
                    @include normal-radius;
                    @include breakpoint("max-md") {
                        padding: map-get($pixel, md ) * 3;
                    }
                    > img {
                        margin: 0 0 map-get($pixel, md ) * 4 0;
                    }
                    p {
                        @include text-sm;
                        color: var(--colors-gray);
                    }
                    h1 {
                        @include heading-3;
                        color: var(--colors-light-300);
                        margin: 0 0 map-get($pixel, sm ) * 3 0;
                        @include breakpoint("max-sm") {
                            @include text;
                        }
                    }
                }
            }
            span {
                @include text-sm-medium;
                @include text-capitalize;
                color: var(--colors-text);
            }
        }
    }
}