@import '../../../../styles/mixins/global.scss';

.specialOps {
    .grid {
        @include grid;
        grid-template-columns: minmax(0 , 1fr) 424px;
        gap: 0 map-get($pixel, md ) * 4 ;
        justify-content:space-between;
        @include breakpoint("max-md") {
            grid-template-columns: repeat(2 , 1fr);
            gap: 0 map-get($pixel, md ) * 4 ;
        }
        @include breakpoint("max-sm") {
            grid-template-columns: repeat(1 , 1fr);
            gap: 20px;
        }
        .gridItems:nth-child(1) {
            @include relative;
            height: 100%;
            padding: map-get($pixel, md ) * 4;
            background-color: var(--colors-primary-200);
            border-radius: 8px;
            @include breakpoint("max-sm") {
                height: 400px;
                padding: map-get($pixel, md ) * 3;
            }
            > span {
                @include text-md-medium;
                @include text-capitalize;
                color: var(--colors-text);
                letter-spacing: 0.2em;
            }
            h1 {
                color: var(--colors-light-300);
                @include heading-2;
                position: absolute;
                bottom: 0;
                padding: 40px 40px 40px 0;
                @include breakpoint("max-sm") {
                    @include heading-5;
                    padding: 30px 35px 30px 0;
                }
            }
        }
        .gridItems {
            .childImage {
                > img {
                    width: 100%;
                    height: 560px;
                    object-fit: cover;
                    @include breakpoint("max-sm") {
                        height: 400px;
                    }
                }
            }
        }
    }
}