@import '../../../../styles/mixins/global.scss';


.newSection {
    padding: map-get($pixel, md ) * 16 0;
    background-color: var(--colors-primary-300);
    @include breakpoint("max-sm") {
        padding: 80px 0;
    }
    .newSectionAlign {
        @include flex-center;
        justify-content: map-get($layout, center );
        .newsDetails {
            width: 867px;
            @include breakpoint("max-md") {
                width: 100%;
            }
            @include breakpoint("max-sm") {
                width: 100%;
            }
            .exploreButton {
                @include flex-center;
                padding: map-get($pixel, md ) * 6 0 0 0 ;
                justify-content: map-get($layout, center );
                button {
                    padding: 20px 27px;
                    background: var(--colors-gradient);
                    border: none;
                    @include flex-center;
                    @include text-md;
                    color: var(--colors-light-300);
                    @include pointer;
                    border-radius: 999px;
                    @include breakpoint("max-sm") {
                        padding: 12px 27px;
                        @include text;
                        font-size: 15px;
                    }
                    span {
                        display: block;
                        padding-right: map-get($pixel, md ) ;
                    }
                }
            }
            .allnewsShow {
                .grid {
                    padding: map-get($pixel, md ) * 6 0 map-get($pixel,md ) * 5 + 2px 0;
                    border-bottom: 1px solid var(--border-color);
                    @include grid;
                    grid-template-columns: minmax(0 , 1fr) 130px;
                    gap: 0 map-get($pixel,md ) * 9;
                    @include breakpoint("max-sm") {
                        padding: 40px 0;
                        grid-template-columns: repeat(1 , 1fr);
                        gap: map-get($pixel, md ) * 4;
                    }
                    .gridItems {
                        span {
                            @include text-sm-medium;
                            color: var(--colors-text);
                        }
                        .blogview {
                            @include flex-center;
                            @include pointer;
                            a {
                                @include text-sm;
                                color: var(--colors-white);
                                font-size: 15px;
                                display: block;
                                padding-right: map-get($pixel, md );
                            }
                        }
                        h2 {
                            @include heading-2;
                            color: var(--colors-secondary-light);
                            margin: 0 0 map-get($pixel, md ) * 7 + 2px 0;
                            @include breakpoint("max-sm") {
                                @include text-md;
                                margin: 0 0 20px 0;
                            }
                        }
                    }
                }
            }

            .pageTitle {
                padding: 0 0 map-get($pixel, md ) * 4 0;
                h1 {
                    @include heading-1;
                    color: var(--colors-secondary-light);
                    margin: 0;
                    @include breakpoint("max-sm") {
                        @include heading-3;
                    }
                }
            }
        }
    }
}