@import '../../styles/mixins/global.scss';

.themeType {
    position: fixed;
    left: 40px;
    bottom: 80px;
    .themebutton {
        background-color: var(--colors-white);
        padding: 4px;
        border-radius: 999px;
        @include flex-center;
        @include pointer;
        .round {
            width: 24px;
            height: 24px;
            @include flex-center;
            justify-content: map-get($layout, center );
            border-radius: 50%;
        }
        .blackTheme {
            @extend .round;
            background-color: var(--colors-primary-100);
        }
        .whiteTheme {
            @extend .round;
            margin-right: 1px;
        }
    }
}