@import '../../../styles/mixins/global.scss';

.header {
    padding: map-get($pixel, md ) * 4 0 map-get($pixel, md ) * 8 0;
    @include breakpoint("max-sm") {
        padding: map-get($pixel, md ) * 2 0;
    }
    .headerAlignment {
        @include flex-between;
        .logo {
            > img {
                @include pointer;
            }
        }
        .getInTouch {
            @include breakpoint("max-sm") {
                display: none;
            }
            > span {
                @include text-md-medium;
                @include pointer;
                color: var(--colors-invert);
            }
        }
        .mobileView {
            display: none;
            @include breakpoint("max-sm") {
                display: block;
            }
        }
        .menu {
            @include breakpoint("max-sm") {
                display: none;
            }
            nav {
                ul {
                    @include flex-center;
                    li:last-child {
                        margin: 0;
                    }
                    li {
                        @include text-md;
                        color: var(--colors-light);
                        margin-right: map-get($pixel, md ) * 6 + 4px ;
                        @include pointer;
                        sup {
                            color: var(--colors-text);
                        }
                    }
                }
            }
        }
    }
}