@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap);

:root {

    /* font-family */

    --default-font-family: 'Inter', sans-serif;

    --colors-primary:#121212;
    --colors-primary-100:#111111;
    --colors-primary-200:#232323;
    --colors-primary-300:#252525;
    --colors-secondary:#fff;
    --colors-secondary-light:#DDDDDD;
    --colors-white:#fff;
    --colors-invert:#CFFF48;
    
    
    /* child color */

    --colors-text:#A1A1A6;
    --colors-light:#BEBEC8;
    --colors-light-300:#E9E9E9;
    --colors-gray:#C0C0C0;
    --colors-gray-600:#6a6a6a;
    --colors-gray-200:rgba(255, 255, 255, 0.6);

    /* gradient-color */

    --colors-gradient: linear-gradient(90deg, #41545C 0%, #818865 100%);

    /* border-color */

    --border-color:#303030;

}

[data-theme="light"] {
    --colors-primary:#F3F3F3;
}